/* General Stuff */
body {
    font-family: "Helvetica Neue", Helvetica, Verdana, sans-serif;
    color: #111;
}

a {
    text-decoration: none;
    color: rgb(158, 0, 0);
    border-bottom: 1px dotted #8C8C8C;
}

a:hover {
    background-color: #eee;
    border-bottom: 1px solid #8C8C8C;
}

a:visited {
    color: rgb(76, 0, 158);
}

.container {
    width: 940px;
    margin-right: auto;
    margin-left: auto;
}


/* Top Container */
header {
    width: 100%;
    height: 130px;

    background-color: rgb(40, 40, 40);
    color: whitesmoke;
    border-bottom: 1px solid #7C7C7C;
}

header a {
    color: whitesmoke;
}

header a:hover {
    background-color: #444;
}

header a:visited {
    color: whitesmoke;
}

header > .container {
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-orient: horizontal;
    -webkit-box-flex: 1;
    box-sizing: border-box;

    height: 130px;
}

header > .container > .pane:first-child {
    margin-left: 100px;
    margin-right: 20px;
}

header > .container > .pane:last-child {
    margin-left: 20px;
    margin-right: 100px;

    text-align: justify;
}

header > .container > .pane {
    width: 350px;
    text-align: center;
}

header > .container > .pane > h1 {
    font-size: 1.6em;
    margin: 0;
}

header > .container > .pane > h2 {
    font-size: 1.1em;
    margin: 0;
}


/* Body */
#body {
    margin-top: 30px;
}

#body > article > h1 {
    margin: 0;
    font-size: 1.45em;
}

#body > article > h1 > a {
    text-decoration: none;
    border-bottom: 0;
    color: #111;
}

#body > article > h1 > a:hover {
    border-bottom: 1px solid #8C8C8C;
}

#body > article > h1 > a:visited {
    color: #111;
}

#body > article > .post-details {
    color: rgb(70, 70, 70);
    font-size: 15px;
}

#body > article code {
    padding: 0 3px 0 3px;
    
    background-color: whiteSmoke;
    border: 1px solid rgb(190, 190, 190);
    border-radius: 5px;
}

#body > article > .article-body > h1 {
    font-size: 1.35em;
}

#body > article > .article-body > h2 {
    font-size: 1.2em;
}

#body > article > .article-body > h3 {
    font-size: 1.05em;
}

#body > article > .article-body > blockquote {
    margin: 0 20px;
    padding: 10px;
    border-radius: 3px;
    background-color: gainsboro;
}

#body > article > .article-body > blockquote > p {
    margin: 0;
}

#body > article > .article-body img {
    max-width: 940px;
}

#body > hr {
    margin: 25px;
    height: 0;

    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}


/* Footer */
footer {
    padding-top: 20px;
    margin-top: 30px;
    margin-bottom: 50px;

    border-top: 1px solid rgb(200, 200, 200);
}